amqp==5.2.0
annotated-types==0.7.0
asgiref==3.7.2
billiard==4.2.1
cachetools==5.3.2
celery==5.4.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
Django==4.2.1
django-cors-headers==4.3.1
django-debug-toolbar==4.3.0
django-ratelimit==4.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
google-ai-generativelanguage==0.6.10
google-api-core==2.15.0
google-api-python-client==2.113.0
google-auth==2.26.2
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.62.0
grpcio==1.68.0
grpcio-status==1.62.3
gunicorn==21.2.0
httplib2==0.22.0
idna==3.6
kombu==5.4.2
packaging==24.0
prompt_toolkit==3.0.48
proto-plus==1.25.0
protobuf==4.25.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydantic==2.10.2
pydantic_core==2.27.1
PyJWT==2.8.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2024.1
requests==2.31.0
rsa==4.9
six==1.16.0
sqlparse==0.4.4
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.13
